table {
    border-collapse: collapse;
  }
td, th {
    border: 1px solid rgb(182, 180, 180);
    width: 50vw;
    padding-left: 1vw;
    text-align: center;
}
.bkgColor {
    background-color: rgb(227, 231, 236);
}
h2 {
    text-align: center;

}